*{
    background-color: #f6f6f6;
}

.text {
    text-align: center;
    color: #f6f6f6;
    font-family: 'High Tower Text';
    animation-name: magic;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
img{
    width: 250px;
    height: 250px;
}
.center-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
@keyframes magic {
    from {color: #f6f6f6;}
    to {color: #0c7e2e;}
  }

h1{
    font-size: 50px;
}
