*{
    background-color: black;
}

.text {
    text-align: center;
    color: black;
    font-family: 'High Tower Text';
    animation-name: magic;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.center-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
}
@keyframes magic {
    from {color: black;}
    to {color: #3adb76;}
  }

  input[type="password"],
  textarea {
      color: white;
  }
.black-form {
        background-color: black; /* Set the background color to black */
        padding: 20px; /* Add some padding to the form for better visibility */
    }
