<!DOCTYPE html>
{% load static %}
<html lang="en">
    <!-- Include Foundation CSS -->
<link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css">


<script src="{% static 'js/vendor/jquery.js' %}"></script>
<script src="{% static 'js/vendor/what-input.js'%}"></script>
<script src="{% static 'js/vendor/foundation.min.js' %}"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
{% block content %}
{% endblock %}
    <script>
        $(document).foundation();
    </script>
</html>
