{% extends "base.html" %}
{% load static %}
    <title>CDA</title>
    {% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
<div class="center-container">
    <h1 class="text"> Trust in the system </h1>
    <br>
    <form method="post">
        {% csrf_token %}
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="medium-25 cell">
                <input class="black-form" type="password" placeholder="Name" id="Name" name="Name">
            </div>
            <div class=" medium-25 cell">
                <input class="black-form" type="password" placeholder="Key" id="Password" name="Password">
            </div>
          </div>
        </div>
        <br>
        <div id="button">
            <input type="submit" class="clear button success" value="Enter">
          </div>
      </form>
    {% endblock %}
</div>
<script>
    $(document).foundation();
</script>
</html>
