*{
    background-color: black;
}

.text {
    text-align: center;
    color: white;
    font-family: 'High Tower Text';
    animation-name: magic;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

div{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set the height of the body to the viewport height */
    margin: 10; /* Remove default margin */
}

@keyframes magic {
    from {color: white;}
    to {color: lime;}
  }